.buttons {
  display: flex;
}

.numButtons {
  width: 26%;
  display: flex;
  flex-direction: column-reverse;
}

.numRowOne {
  height: 6rem;
  display: flex;
  background: blue;
}

.numRowTwo {
  display: flex;
  background: purple;
}

.numRowThree {
  display: flex;
  background: midnightblue;
}