.calcAction {
  margin: 10.34rem 0 0 0;
  height: 30rem;
}

.buttons {
  width: 26.8%;
  height: 40.3rem;
  display: flex;
  border: 2px solid gray;
  margin: 5rem 0 0 0;
}

.numButtons {
  height: 40.3rem;
  display: flex;
  flex-direction: column-reverse;
}

.numRowOne {
  height: 6rem;
  display: flex;
}

.numRowTwo {
  display: flex;
}

.numRowThree {
  display: flex;
}