.calcAction {
  margin: 4.2rem 0 0 0;
  height: 30rem;
}

.buttons {
  width: 35.5%;
  height: 34.2rem;
  display: flex;
  border: 2px solid gray;
  margin: 2rem 0 0 0;
}

.numButtons {
  height: 28.3rem;
  display: flex;
  flex-direction: column-reverse;
}

.numRowOne {
  height: 6rem;
  display: flex;
}

.numRowTwo {
  display: flex;
}

.numRowThree {
  display: flex;
}