/* All styles for your Card Components live here */

.headerContainer {
	border: 2px solid red;
	width: 70%;
	display: flex;
}


.headerContent {
	border: 2px solid blue;
	padding: 0 0 0 1rem;
}

.info {
	color: lightgray;
	font-size: 1.2rem;
	font-weight: lighter;
}

.thumbnail {
	width: 22%;
	border: 2px solid green;
}
		/* .headerTitle {
			display: flex;
		} */