/* All styles for your Card Components live here */

.appContainer {
	width: 70%;
	/* border: 2px solid black; */
}

.headerContainer {
	/* border: 2px solid red; */
	width: 85%;
	display: flex;
}

.headerContent {
	/* border: 2px solid blue; */
	height: 9rem;
	margin: 0 0 1rem 0;
	padding: 0 6rem 0 1rem;
}

.info {
	color: gray;
	font-size: 1.2rem;
	font-weight: lighter;
}

.crest {
	margin: 1rem 0 0 0;
	height: 5rem;
}

.cardContainer {
	width: 85%;
	margin: 0 0 0 5.5rem;
	/* border: 2px solid purple; */
}

.cardContent {
	box-sizing: border-box;
	width: 83.3%;
	border: 2px solid lightgray;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	/* margin: 0 0 0 8.6rem; */
	padding: 0 0 1rem 1rem;
}

.reactWebsite {
	color: gray;
	text-decoration: none;
}

#mid-img {
	width: 83%;
	/* margin: 0 0 0 8.7rem; */
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
